<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receitas</title>
  <link rel="stylesheet" href="/static/css/lista.css">
  <link rel="shortcut icon" href="/static/imagens/icon.svg" type="image/x-icon" />
</head>
<body>
  {% if current_user.is_admin %}
    <form action="{{ url_for('logout') }}" method="GET" id="logout-form" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">
    <button type="submit" id="logout-button" style="
      padding: 12px 24px;
      background-color: #ff4d6d;
      color: white;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;
    ">Sair</button>
  </form>
{% endif %}

  <div class="label-receitas">
    <h1>Receitas Cadastradas</h1>
  </div>
  <section class="receitas-lista">
    {% for receita in receitas %}
    <div class="mini-card">
      <div class="linha">
        <div><strong>ID:</strong> {{ receita.id }}</div>
        <div><strong>Nome do Prato:</strong> {{ receita.nome }}</div>
      </div>
      <div class="linha">
        <div><strong>Tipo:</strong> {{ receita.tipo }}</div>
        <div><strong>Origem:</strong> {{ receita.origem }}</div>
      </div>
      <div class="linha">
        <div><strong>Ingredientes:</strong> {{ receita.ingredientes }}</div>
        <div><strong>Modo de preparo:</strong> {{ receita.modo_preparo }}</div>
      </div>
      {% if current_user.is_admin %}
      <div class="actions">
        <a href="{{ url_for('excluir', id=receita.id) }}">Excluir</a>
        <a href="{{ url_for('atualizar', id=receita.id) }}">Atualizar</a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </section>

  {% if current_user.is_admin %}
  <a id="cadastro" href="{{ url_for('cadastrar') }}">Cadastrar nova receita</a>
{% endif %}

</body>
</html>
